mixin footer
  footer#footer
    .container
      p.text-muted.credit.
        Available on <a href="https://github.com/laice/sync" target="_blank" rel="noreferrer noopener">GitHub</a>&nbsp;&middot; <a href="https://discord.gg/jaf5ZU9" target="_blank">Discord</a>
  script(src="/js/jquery-1.11.0.min.js")
  // Must be included before jQuery-UI since jQuery-UI overrides jQuery.fn.button
  // I should really abandon this crap one day
  script(src="/js/jquery-ui.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
  style(type='text/css').
    body {
      background: rgb(33, 83, 0) !important;
      background: linear-gradient(90deg, rgba(33, 83, 0, 1) 0%, rgba(59, 23, 70, 1) 44%, rgba(95, 0, 86, 1) 100%) !important;
    }

